* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
}

nav {
    margin: 0;
}

.logo img {
    width: 118px;
    height: auto;
}

/* Barra centrale */
.search-btn {
    all: unset;
}

.div-search {
    border: solid 1px;
    border-color: #DDDDDD;
    border-radius: 50px;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 4px, rgba(229, 229, 229, 0.24) 0px 3px 6px;
    transition: box-shadow 0.3s ease;
}

.div-search:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.line {
    border-right: solid 1px #bbbbbb;
    height: 25px;
}

.search-btn span {
    font-weight: 600;
}

.guest-btn {
    color: grey;
}

.search-icon {
    width: 32px;
    height: 32px;
    background-color: #FF385C;
    border-radius: 50%;
}

/* Comandi a destra */
.btn-affitta-lingua {
    all: unset;
    font-weight: 600;
    border-radius: 50px;
}

.log-in {
    all: unset;
    border: solid 1px;
    border-color: #DDDDDD;
    border-radius: 50px;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 4px, rgba(229, 229, 229, 0.24) 0px 3px 6px;
    transition: box-shadow 0.3s ease;
    padding: 0 10px;
    transition: box-shadow 0.3s ease;
}

.log-in i {
    padding: 0 5px;
}

.list-icon {
    font-size: 16px;
    color: black;
}

.person-icon {
    font-size: 30.2px;
    color: grey;
}

.btn-affitta-lingua:hover {
    background-color: #F7F7F7;
}

.log-in:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.right-command {
    margin-left: 50px;
}

.horizzontal-line {
    border-bottom: solid 3px rgba(229, 229, 229, 0.24);
    margin-top: 20px;
}

/* Header titolo e icone */
header {
    margin: 0x;
}

.header-title-container {
    margin: 30px 0;
}

header .btn:hover {
    background-color: #F7F7F7;
}

header h3 {
    font-weight: 600;
}

.header-icon-text {
    font-weight: 600;
}

/* Header foto */

.gallery-container {
    border-radius: 10px;
}

.gallery-container img:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

.last-img:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

/* Overlay mostra tutte le foto */
.position-relative {
    position: relative;
}

.overlay {
    position: absolute;
    top: 200px;
    left:50px;
    border-radius: 12px;
}

.overlay button {
    color: black;
    font-weight: bold;
    border: solid 1px black;
}

.overlay button:hover {
    border: solid 1px black;
}

.carousel-inner img {
    border-radius: 10px;
} */

/* Versione responsive mobile */

@media (max-width: 767px) {

    /* Rimuove il testo delle icone nell'header */
    .header-title-container .header-icon-text {
        display: none;
    }

    /* Impostazioni layout header mobile */
    .header-title-container {
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
    }

    .carousel-item {
        max-height: 50vh;
    }

    /* Overlay nella versione mobile sparisce */
    .overlay {
        display: none;
    }
}

/* Aggiustamenti per tablet (768px - 1024px) */
@media (min-width: 768px) and (max-width: 900px) {

    /* Nascondere icone in versione tablet */
    .header-title .header-icon-text {
        display: none;
    }

    /* Impostazioni layout header tablet */
    .header-title-container {
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
    }

    /* Galleria: diventa carosello a schermo intero */
    .gallery-container .row {
        display: none;
    }

    .carousel-item {
        max-height: 100vh;
    }

    /* L'overlay nella versione tablet sparisce*/
    .overlay {
        display: none;
    }
}

/* Main contenente info e form*/

main {
    padding: 40px 0 0 0;
    margin: 0;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.form-container {
    position: sticky;
    top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    max-height: 100vh;
}

form {
    padding-top: 20px;
}

.label-container {
    border: solid 1px black;
    margin: 0;
    padding: 0;
}

.form-control {
    border: none;
    padding: 0 0 10px 10px;
}

.form-label {
    font-size: 13px;
    font-weight: 700;
    padding: 0 0 0 10px;
    margin: 0;
}

.btn-availability {
    background-color:  #FF385C;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    font-weight: 600;
}

/* Versione mobile sparisce il form (deve diventare bottone) */
@media (max-width: 1024px) {
    .form-container {
        display: none;
    }
}

/*Barra con recesioni*/

.review-container {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    background: #fff;
    gap: 12px;
    max-width: 600px;
}

.review-header {
    gap: 8px;
    font-size: 18px;
    color: #222;
}

.review-header img {
    width: 20px;
    height: 20px;
}

.review-text {
    border-right: 1px solid grey;
    padding-right: 15px;
}

.review-score {
    gap: 8px;
}

.review-score p {
    font-size: 20px;
}

/*Testo lorem ipsum */
.lorem-ipsum {
    width: 90%;
    padding-top: 20px;
}

.lorem-ipsum p {
    text-align: justify;
}

/*Footer*/

.footerline {
    border-top: 2px solid #4b4b4b; 
    margin: 0; 
    width: 100%;
}
.footerline2 {
    border-top: 2px solid #4b4b4b; 
    margin: 0; 
    width: 100%;
}

.footer-link {
    text-decoration: none;
    color: inherit;
    font-size: 0.875rem;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-social-icons a {
    font-size: 1.2rem;
    margin-left: 10px;
}


